--index=https://devpi.zeit.de/zeit/default

Pillow == 8.1.1
lxml == 4.6.2
setuptools == 42.0.2
vivi.core == 4.26.3
zope.component == 4.5
zope.deferredimport == 4.3
zope.hookable == 5.0.1
zope.interface == 4.7.2
pyyaml == 5.1.1

# setuptools
appdirs == 1.4.3
six == 1.12.0

# Testing
pytest == 4.6.9
atomicwrites == 1.3.0
attrs == 17.4.0
execnet == 1.6.1
importlib-metadata == 0.23
more-itertools == 5.0.0
packaging == 20.3
zipp == 0.6.0
py == 1.8.1
pluggy == 0.13.1
pytest-cov == 2.8.1
cov-core == 1.15.0
coverage == 4.5.4
pytest-flake8 == 1.0.4
flake8 == 3.7.7
entrypoints == 0.3
mccabe == 0.6.1
pyflakes == 2.1.1
pycodestyle == 2.5.0

# zeit.connector
ZConfig == 3.4.0
ZODB == 5.5.1
filemagic == 1.6
gocept.cache == 3.1
gocept.lxml == 0.3.0+py3.1
pytz == 2019.3
zc.set == 0.2
zope.cachedescriptors == 4.3.1
zope.event == 4.4
zope.schema == 4.9.3
zope.security == 5.0
zope.app.file == 4.0.0

# gocept.cache
decorator == 4.4.1
transaction == 2.4.0
zope.testing == 4.7
zope.exceptions == 4.3

# zc.set
zope.app.folder == 4.0.0
zope.app.content == 4.0.0

# zope.security
zope.i18nmessageid == 5.0.1
zope.location == 4.2
zope.proxy == 4.3.4

# zope.app.file
zope.annotation == 4.7.0
zope.app.publication == 4.3.0
zope.authentication == 4.4.0
zope.broken == 3.6.0
zope.browser == 2.3
zope.componentvocabulary == 2.2.0
zope.configuration == 4.3.1
zope.container == 4.2.2
zope.contenttype == 4.4
zope.datetime == 4.2.0
zope.dottedname == 4.3
zope.dublincore == 4.2.0
zope.error == 4.5.0
zope.filerepresentation == 4.2.0
zope.i18n == 4.6.1
zope.lifecycleevent == 4.3
zope.publisher == 5.1.1
zope.site == 4.2.2
zope.size == 4.3
zope.traversing == 4.3.1

# ZODB
BTrees == 4.5.1
cffi == 1.13.2
persistent == 4.5.1
zc.lockfile == 1.4
zdaemon == 4.3
zodbpickle == 1.0.3
